{% extends "base.html" %}

{% block body %}
<div class="container">
    <div class="row mt-5 mb-5 graphic"></div>
    <div class="row">
        <input class="mb-2" type="text" id="filterList" onkeyup="searchFilter()" placeholder="Procurar DNI/NIE..">
        <table class="table table-striped text-center" id="usersList">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">DNI/NIE</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Datos</th>
                </tr>
            </thead>
            <tbody id="tableBody">

            </tbody>
        </table>
    </div>
</div>
<script>
    let users = {
        "users": [
            {
                "dni": "A5961069L",
                "name": "Lea"
            },
            {
                "dni": "W3036220K",
                "name": "Imelda"
            },
            {
                "dni": "U2931952Y",
                "name": "Humbert"
            },
            {
                "dni": "31004749U",
                "name": "Jordi"
            },
            {
                "dni": "T9864162Q",
                "name": "Lea"
            },
            {
                "dni": "Q2213751X",
                "name": "Lilian"
            },
            {
                "dni": "24788139I",
                "name": "Honori"
            },
            {
                "dni": "82542443C",
                "name": "Ildefons"
            },
            {
                "dni": "R8392108O",
                "name": "Ivette"
            },
            {
                "dni": "Q0516418H",
                "name": "Huc"
            },
            {
                "dni": "H3992112T",
                "name": "Lloren\u00e7"
            },
            {
                "dni": "A7902840Z",
                "name": "Juniper"
            },
            {
                "dni": "I7929725M",
                "name": "Kaled"
            },
            {
                "dni": "B8591595J",
                "name": "Job"
            },
            {
                "dni": "94030646S",
                "name": "Jesus"
            },
            {
                "dni": "06508333M",
                "name": "Licini"
            },
            {
                "dni": "20600254O",
                "name": "Jordi"
            },
            {
                "dni": "70452127S",
                "name": "Isolda"
            },
            {
                "dni": "T6762885G",
                "name": "Joaquima"
            },
            {
                "dni": "57224511T",
                "name": "Lea"
            },
            {
                "dni": "T9749450K",
                "name": "Justinia"
            },
            {
                "dni": "91881786A",
                "name": "Laura"
            },
            {
                "dni": "88780845V",
                "name": "Honest"
            },
            {
                "dni": "N9569909P",
                "name": "Ida"
            },
            {
                "dni": "00890552P",
                "name": "Llucia"
            },
            {
                "dni": "26352579O",
                "name": "Jacinta"
            },
            {
                "dni": "52147716N",
                "name": "Lara"
            },
            {
                "dni": "95474752V",
                "name": "Jordi"
            },
            {
                "dni": "O0415662F",
                "name": "Hilari"
            },
            {
                "dni": "33898522U",
                "name": "Leovigild"
            }
        ]
    }
    var body = "";
    users["users"].forEach(addRow)
    function addRow(user, index) {
        var template = `<tr>
            <th scope="row">${index + 1}</th>
            <td name="user">${user.dni}</td>
            <td>${user.name}</td>
            <td><a href="#">ver grafico</a> || <a href="#">Editar/ eliminar usuario</a></td>
        </tr>`
        body += template
        document.getElementById("tableBody").innerHTML = body;
        tableBody.innerHTML = body;


    }

    function searchFilter() {
        var input, filter, tableBody, th, td, i, txtValue;
        input = document.getElementById('filterList');
        filter = input.value.toUpperCase();
        tableBody = document.getElementById("tableBody");
        tr = tableBody.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }

    }
</script>
{% endblock %}